.header{
    display: flex;
    justify-content: space-between;
}
.logo-img{
    width: 10vmax;
    height: 7vmax;
    /* margin-left: 0.5vmax; */
    /* margin-bottom: 1vmax; */
    margin-top: -1.4vmax;
}
.gym-name{
   margin-right: 35vmax; 
   margin-top:0.5vmax;
   font-size: 2rem;
   font-weight: bold;
}
.main-menu{
    display: flex;
    list-style: none;
    gap: 2.2rem;
    font-size: 1.2vmax;
    font-weight: bold;
    /* font-size: 1.2vmax; 
    margin-top: -0.7vmax; */
}
.main-menu>li{
    cursor: pointer;
    height: 25px;
    /* border: 1px solid red; */
   
    /* margin-top: 1vmax; */
}
.main-menu>li:hover{
    
    /* border-radius: 10px;
    background-color: rgb(142, 152, 149); */
color:rgb(255, 255, 255);
}


/* responsive */
@media screen and (max-width:768px){
    .logo-img{
        width: 18vmax;
        height: 9vmax;
        /* margin-left: 0.5vmax; */
        /* margin-bottom: 1vmax; */
        margin-top: -2vmax;
        /* margin-left:2rem; */
        padding-right: 0rem;
    }
    .gym-name{
       margin-right: 20vmax; 
       margin-top:-1vmax;
       font-size: 1rem;
       font-weight: bold;
    
    }
    .main-menu{
        position: fixed;
        right: 1.2rem;
        z-index: 99;
        flex-direction: column;
        background-color: rgb(107, 114, 114);
        padding: 2rem;
        gap: 1rem;
        font-size: 2.5vmax; 
        font-weight: bold;
        border-radius: 5px;
        margin-top: -1.9vmax;
      }


}