.register{

    display: flex;
    padding: 0 2rem;
    gap: 14rem;
    margin-top: 7rem;
    margin-bottom: 10rem;
}
.reg-left{
    color: white;
    font-size: 4rem;
    font-weight: bold;
    position: relative;
}
.reg-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.email-container{
    display: flex;
    gap: 2.5rem;
    background-color: gray;
    padding: 1.8rem 2rem;
    position: absolute;
    left: 8rem;
    top: 1.8rem;
    border-radius: 5px;
}
.email-container>input{
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(229, 233, 236);
    font-size: 1.2rem;
}
::placeholder{
    color: rgb(207, 213, 219);
}
.btn-reg{
    
    background-color: rgb(229, 90, 14);
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn-reg:hover{
color: rgb(73, 69, 51);
}

/* responsive */
@media screen and (max-width:768px){
    .register{
        flex-direction: column;
        gap: 1rem;
    }
    .reg-left{
        font-size: 2rem;
        flex-direction: column;
        padding: 0.5rem 2rem;
        

    }
    .reg-right{
        padding: 0rem;
        right: 10rem;
    }
    .email-container{
      
        gap: 2rem;
        background-color: gray;
        padding: 1.2rem 0.5rem;
    
    }
    .email-container>input{
        background-color: transparent;
        border: none;
        outline: none;
        color: rgb(229, 233, 236);
        font-size: 0.8rem;
    }

}