.footer-container{
    position: relative;
}
.footer-container>hr{
    border: 1px solid gray;
}
.footer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}
.footer-logo{
    display: flex;
    gap: 4rem;

}
.footer-logo>img{
    width: 3rem;
    height: 3rem;
}
.gym-logo>img{
    width: 12rem;
}

/* responsive */
@media screen and (max-width:768px){
    .footer-container{
   justify-content: center;
   align-items: center;
    }
    .footer-container>hr{
        border: 0.8px solid rgb(75, 73, 73);
    }
    .footer-logo{
        display: flex;
        gap: 2rem;
    
    }
}