.App{
  background-image: url('./Components/img/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  gap: 6;
  overflow: hidden;
}
::-webkit-scrollbar{
  display: none;
}
.stroke_text{
  color:transparent;
  color: transparent;
  -webkit-text-stroke-width: 2.2px;
  -webkit-text-stroke-color:white;
  background-color: #807b7b;
  border-radius: 38px;
}
.btn{
  border: 4px solid transparent;
  padding: 0.5rem;
  font-weight: bold;
  transition: 0.4s all;
  cursor: pointer;
  /* width:6.5rem;
  height: 2.8rem; */
  /* border: none; */
  background-color: white;
  
  font-size: norm;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .stroke_text-program{
  color:transparent;
  -webkit-text-stroke-width: 2.4px;
  -webkit-text-stroke-color:rgb(202, 153, 54);
  border-radius: 38px;
}

