.program{
    /* margin-bottom: 2rem; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding:0rem 1.2rem 5rem 1.2rem;
}
.program-heading{
    display: flex;
    gap: 4rem;
    font-weight: bold;
    font-size: 4rem;
    justify-content: center;
    color: rgb(107, 107, 101);
    font-style: italic ;
}

.program-category{
    display: flex;
    gap: 1.2rem;
}
.categories{
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 2.5rem;
    gap: 1rem;
    color: white;
    justify-content: space-between;
}
.categories>:nth-child(1){
    width: 22rem;
    height: 2.5rem;
    fill:white;
    
}
.categories>:nth-child(2){
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.categories>:nth-child(3){
    font-size: 1.1rem;
    line-height: 25px;
}
.join-now{
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.join-now>span{
    font-size: 1.5rem;
}
.join-now>span:hover{
    color: rgb(18, 227, 18);
}
.arrow-img{
    width:2.5rem;
    filter: brightness(100%);
    cursor: pointer;
    transition: 0.5s all linear;
}
.arrow-img:hover{
    transform: scale(1.2)
    translateX(0.8rem);
}
.categories:hover{
    background-color: orangered;
    cursor: pointer;
}

/* responsive */
@media screen and (max-width:768px) {
    .program{
        /* margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding:5rem 1.2rem; */
        margin-bottom: 5rem;
    }
    .program-heading{
        flex-direction: column;
        gap: 1.1rem;
        font-size: xx-large;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
    .program-category{
        flex-direction: column;
    }
    .categories>:nth-child(1){
        /* width: 1rem; */
        right: 4rem;
        position: relative;
    }
    .arrow-img{
        width: 2rem;
        position: relative;
        right: 3rem;
    }
}